<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=joblogger;IntegratedSecurity=True"/>
    <add key="LogFileDirectory" value="C:\\inetpub\\logs\\"/>
    <add key="LogFileName" value="LogFile"/>
  </appSettings>
  <connectionStrings>
    <add name="JobLogger" connectionString="Data Source=.;Initial Catalog=joblogger;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>